import events from './src/events';
import path from 'path';
import { fileURLToPath } from 'url';
const __dirname = path.dirname(fileURLToPath(import.meta.url));

const {
  ALLOWED_ORIGINS,
  API_RATE_LIMIT,
  AUTH_RATE_LIMIT,
  DB_HOST,
  DB_PORT,
  DB_USER,
  DB_PASSWORD,
  DB_NAME,
  NODE_ENV,
  SECRET,
  TRUST_PROXY,
} = process.env;

// Check required environment variables
if (NODE_ENV === 'production') {
  const required = ['JWT_SECRET', 'DB_PASSWORD'];
  const missing = required.filter((key) => !process.env[key]);

  if (missing.length > 0) {
    throw new Error(
      `Missing required environment variables: ${missing.join(', ')}\n`,
    );
  }
}

export const config = {
  connection: {
    port: DB_PORT || 5432,
    host: DB_HOST || 'localhost',
    database: DB_NAME || 'nick',
    user: DB_USER || 'nick',
    password: DB_PASSWORD || 'nick',
  },
  blobsDir: `${__dirname}/var/blobstorage`,
  port: 8080,
  secret: SECRET || 'secret',
  clientMaxSize: '64mb',
  systemUsers: ['admin', 'anonymous'],
  systemGroups: ['Owner'],
  cors: {
    allowOrigin: ALLOWED_ORIGINS || 'http://localhost:3000',
    allowMethods: 'GET,POST,PUT,PATCH,DELETE,OPTIONS',
    allowHeaders: 'Content-Type,Authorization,Accept',
    allowCredentials: true,
    exposeHeaders: 'Content-Length,Content-Type',
    maxAge: 3600,
  },
  imageScales: {
    large: [768, 768],
    preview: [400, 400],
    mini: [200, 200],
    thumb: [128, 128],
    tile: [64, 64],
    icon: [32, 32],
    listing: [16, 16],
  },
  frontendUrl: 'http://localhost:3000',
  prefix: '',
  userRegistration: false,
  profiles: [
    `${__dirname}/src/profiles/core`,
    `${__dirname}/src/profiles/default`,
  ],
  requestLimit: {
    api: '1mb',
    files: '10mb',
  },
  rateLimit: {
    api: API_RATE_LIMIT || 100,
    auth: AUTH_RATE_LIMIT || 5,
    trustProxy: TRUST_PROXY || 1,
  },
  events,
  ai: {
    models: {
      embed: {
        name: 'nomic-embed-text',
        api: 'http://localhost:11434/api/embed',
        dimensions: 768,
        minSimilarity: 0.5,
        enabled: false,
      },
      llm: {
        name: 'qwen3',
        api: 'http://localhost:11434/api/chat',
        contextSize: 10,
        enabled: false,
      },
      vision: {
        name: 'llava',
        api: 'http://localhost:11434/api/generate',
        enabled: false,
      },
    },
  },
};
