import events from './src/events';
const { DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, DB_NAME } = process.env;

export const config = {
  connection: {
    port: DB_PORT || 5432,
    host: DB_HOST || 'localhost',
    database: DB_NAME || 'nick',
    user: DB_USER || 'nick',
    password: DB_PASSWORD || 'nick',
  },
  blobsDir: `${__dirname}/var/blobstorage`,
  port: 8080,
  secret: 'secret',
  clientMaxSize: '64mb',
  systemUsers: ['admin', 'anonymous'],
  systemGroups: ['Owner'],
  cors: {
    allowOrigin: '*',
    allowMethods: '*',
    allowHeaders: '*',
    allowCredentials: true,
    exposeHeaders: '*',
    maxAge: 3660,
  },
  imageScales: {
    large: [768, 768],
    preview: [400, 400],
    mini: [200, 200],
    thumb: [128, 128],
    tile: [64, 64],
    icon: [32, 32],
    listing: [16, 16],
  },
  frontendUrl: 'http://localhost:3000',
  prefix: '/++api++',
  userRegistration: true,
  profiles: [
    `${__dirname}/src/profiles/core`,
    `${__dirname}/src/profiles/default`,
  ],
  events,
};
